/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

//@import "font-awesome-sprockets";
//@import "font-awesome";

/* body {
  background: #042037;
} */
html,
body {
  height: 100%;
  width: 100%;
}
.logform {
  max-width: 400px;
  padding: 15px 35px 10px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-control {
  margin-bottom: 15px;
}

.login-container {
  padding-top: 100px;
  margin: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom,#37BC9B,#273135);
  //background: #ffb347;
}
.reset-links {
  margin-top: 20px;
  margin-bottom: 10px;
}

.title-top {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center 
}

//rgb(255, 136, 61)
