<div class="login-container">
<div class="logform">
  <h2 class="text-center formHead animated bounceInDown">Esqueceu sua senha?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "Enviar instruções pro email", class: "btn btn-primary" %>
    </div>
  <%= render "devise/shared/links" %>
  <% end %>

  </div>
</div>
